<h1>New Category</h1>

<%= form_for :category, url: "/categories" do |f| %>
	<div class="form-group">
		<%= f.label "Name" %>
		<%= f.text_field :name, placeholder: "Enter New Category Name" %>
	</div>
	<%= f.submit "Submit!", class: "btn btn-default" %>
<% end %>

<%= link_to "Want to Cancel?", "/categories" %>

	