<h1>Category: <%= @category.name %></h1>
<h3>List of Products</h3>
<ul>
	<% @category.products.each do |product| %>
		<li><%= link_to product.name, product_path(product) %></li>
	<% end %>
</ul>

<%= button_to "Edit", "/categories/#{@category.id}/edit", method: :get, class: "btn btn-primary" %>
<%= button_to "Delete", "/categories/#{@category.id}", method: :delete, class: "btn btn-primary" %>
<%= button_to "View All", "/categories", method: :get, class: "btn btn-primary" %>