<h1><%= @product.name %></h1>
<h2>Price: <%= @product.price %></h2>
<h2>Description: <%= @product.description %></h2>

<h3>Categories</h3>
<ul>
	<% @product.categories.each do |category| %>
	<li><%= link_to category.name, category_path(category) %></li>
	<% end %>
</ul>

<%= button_to "Edit", "/products/#{@product.id}/edit", method: :get, class: "btn btn-primary" %>
<%= button_to "Delete", "/products/#{@product.id}", method: :delete, class: "btn btn-primary" %>
<%= button_to "View All", "/products", method: :get, class: "btn btn-primary" %>